{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Laboratory Test</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1>Hospital Management System</h1>

    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'patient_list' %}">Patients</a>
        <a href="{% url 'doctor_list' %}">Doctors</a>
        <a href="{% url 'appointment_list' %}">Appointments</a>
        <a href="{% url 'billing_list' %}">Billing</a>
        <a href="{% url 'medicine_list' %}">Pharmacy</a>
        <a href="{% url 'laboratory_list' %}">Laboratory</a>
    </nav>
</header>

<div class="container">

<h2>Add / Edit Laboratory Test</h2>

<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

    <button type="submit" class="btn">Save Test</button>

    <a href="{% url 'laboratory_list' %}">
        <button type="button">Back</button>
    </a>
</form>

</div>

</body>
</html>