{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Add Doctor</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1>Hospital Management System</h1>

    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'patient_list' %}">Patients</a>
        <a href="{% url 'doctor_list' %}">Doctors</a>
    </nav>
</header>

<div class="container">

    <h2>Add / Edit Doctor</h2>

    <form method="POST">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn">Save Doctor</button>

        <a href="{% url 'doctor_list' %}">
            <button type="button" class="btn">Back</button>
        </a>
    </form>

</div>

</body>
</html>