{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Doctors</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1>Hospital Management System</h1>

    <nav>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="{% url 'patient_list' %}">Patients</a>
        <a href="{% url 'doctor_list' %}">Doctors</a>
        <a href="{% url 'appointment_list' %}">Appointments</a>
        <a href="{% url 'billing_list' %}">Billing</a>
        <a href="{% url 'payment_list' %}">Payments</a>
        <a href="{% url 'medicine_list' %}">Pharmacy</a>
        <a href="{% url 'laboratory_list' %}">Laboratory</a>
        <a href="{% url 'activity_log' %}">Activity log</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'settings' %}">Settings</a>
        <a href="{% url 'logout' %}">Logout</a>
    </nav>
</header>

<div class="container">

    <h2>Doctors List</h2>

    <a href="{% url 'add_doctor' %}">
        <button class="btn">Add Doctor</button>
    </a>
    <a href="{% url 'doctor_pdf' %}" class="btn">Download Doctor PDF</a>
    <a href="{% url 'doctor_excel' %}" class="btn">Download Excel</a>

    <br><br>

    <form method="GET">
        <input type="text"
               name="search"
               placeholder="Search by Doctor ID or Name"
               value="{{ search|default:'' }}">
        <button type="submit">Search</button>
    </form>

    <br>

    <table border="1" cellpadding="10">
        <tr>
            <th>Doctor ID</th>
            <th>Name</th>
            <th>Specialization</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Action</th>
        </tr>

        {% for doctor in doctors %}
        <tr>
            <td>{{ doctor.doctor_id }}</td>
            <td>{{ doctor.name }}</td>
            <td>{{ doctor.specialization }}</td>
            <td>{{ doctor.phone }}</td>
            <td>{{ doctor.email }}</td>
            <td>
                <a href="{% url 'edit_doctor' doctor.id %}">Edit</a>
                <a href="{% url 'delete_doctor' doctor.id %}">Delete</a>
            </td>
        </tr>

        {% empty %}
        <tr>
            <td colspan="6" style="text-align:center;color:red;">
                Doctor Not Found
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>